/* ------------ VARIABLES ------------ */
:root {
    /* COLORS */
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --dark-item-color: lawngreen;
    --dark-container-color: rgb(26, 26, 26);
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
    --light-item-color: black;
    --light-container-color: lightgray;
}

/* ------------ BASE ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration:none;
}
/* ---------- Navbar ----------*/
.navbar {
    display: flex;
    background-color: var(--light-container-color);
    border-radius: 5px;
    align-items: center;
    width: 100%;
    height: 55px;
}

    .navbar ul {
        display: flex;
        align-items: flex-end;
    }

.navbar-item {
    list-style: none;
    margin: auto 20px;
}

    .navbar-item a {
        color: var(--light-item-color);
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
    }

/* -------------- BUTTON -------------- */
.btn {
    background-color: var(--light-color);
    width: 6em;
    height: 2.5em;
    border-radius: 10em;
    padding: 0 0.5em;
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1), inset 0 8px 8px rgba(0,0,0, .1), inset 0 -4px 4px rgba(0,0,0, .1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: fixed;
    right: 25px;
}

.btn__indicator {
    background-color: var(--dark-icon-color);
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0,0,0, .2);
    transition: transform .3s ease;
}

.btn__icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__icon {
    color: var(--light-icon-color);
    font-size: 2rem;
}

    /* -------------- ANIMATION ------------ */
    .btn__icon.animated {
        animation: spin 0.5s;
    }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* -------------- DARKMODE -------------- */
body.darkmode {
    background-color: var(--dark-color);
}

.darkmode .btn {
    box-shadow: inset 0 8px 60px rgba(194, 190, 190, 0.3), inset 8px 0 8px rgba(144, 142, 142, 0.3), inset 0 -4px 4px rgba(119, 115, 115, 0.3);
    background-color: var(--dark-color);
}

.darkmode .btn__indicator {
    transform: translateX(3em);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.darkmode .btn__icon {
    color: var(--dark-icon-color);
}

.darkmode .navbar {
    background-color: var(--dark-container-color);
    border: 2px solid var(--dark-item-color);
}

.darkmode .navbar-item a {
    color: var(--dark-item-color);
}

/* -------------- Language changer -------------- */

.dropdown {
    display: flex;
    position: relative;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    margin-right: 75px;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--dark-color);
}

    .wrapper img {
        width: 20px;
        height: 20px;
    }

.lan {
    color: var(--dark-color);
}

.list {
    background-color: var(--light-container-color);
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    display: none;
}

.show {
    display: block;
}

.item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    color: var(--dark-color);
}

    .item img {
        width: 20px;
        height: 20px;
    }


/*Dark mode*/
.darkmode .wrapper {
    color: var(--dark-item-color);
}

.darkmode .list {
    background-color: var(--dark-container-color);
}

.darkmode .item {
    color: var(--dark-item-color);
}

.darkmode .lan {
    color: var(--dark-item-color);
}