<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/Pages.css" />

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>User Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../SiteImages/logo.png" alt="" />
            </div>

            <span class="logo_name">Treasure Tracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a asp-controller="UserPage" asp-action="Dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">@_localization.Getkey("dashboard")</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="UserPage" asp-action="Collections">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">@_localization.Getkey("my_collection")</span>
                    </a>
                </li>
                <li>
                    <a href="users.html">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">@_localization.Getkey("settings")</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!--Main part-->
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>
    <script src="../js/Page.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>