@model CategoryPostModel
@{
    Layout = "_adminlayout";
}
<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
        </div>

        <img src="../SiteImages/profile-pic.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="overview users__title__box">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Add Category</span>
            </div>
        </div>
        <form asp-controller="Pages" asp-action="AddCategory" method="post" enctype="multipart/form-data">
            <div class="form__box">
                <div class="input__box">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" placeholder="Category" />
                    <span asp-validation-for="Name" class="validation"></span>
                </div>
                <div class="add__btn__box">
                    <button class="add__use__btn__box" type="submit">Add category </button>
                </div>
            </div>
        </form>
    </div>
</section>