@model UserPostModel
@{
    Layout = "_adminLayout";
}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
        </div>

        <img src="images/profile.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="overview users__title__box">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Add Users</span>
            </div>
        </div>
        <form asp-controller="Pages" asp-action="AddUser" method="post" enctype="multipart/form-data">
            <div class="form__box">
                <div class="input__box">
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" type="text" placeholder="Firstname" />
                    <span asp-validation-for="FirstName" class="validation"></span>
                </div>
                <div class="input__box">
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" type="text" placeholder="Lastname" />
                    <span asp-validation-for="LastName" class="validation"></span>
                </div>
                <div class="input__box">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" placeholder="Email" />
                    <span asp-validation-for="Email" class="validation"></span>
                </div>
                <div class="input__box">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="text" placeholder="Password" />
                    <span asp-validation-for="Password" class="validation"></span>
                </div>

                <div class="add__btn__box">
                    <button class="add__use__btn__box" type="submit">Add user </button>
                </div>
            </div>
        </form>
    </div>
</section>