@model IEnumerable<CategoryViewModel>
@{
    Layout = "_adminLayout";
}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
        </div>

        <img src="../SiteImages/profile-pic.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="overview users__title__box">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Users</span>
            </div>
            <div class="add__btn__box">
                <button class="add__btn"><a asp-controller="Pages" asp-action="AddCategory">Add category</a></button>
            </div>
        </div>

        <section id="table">
            <table>
                <thead>
                    <tr>
                        <th scope="col">T/r</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                @{
                    int count = 1;
                }
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@category.Id</td>
                            <td>@category.Name</td>
                            <td> @category.CreatedAt.ToString("dd.MM.yyyy")</td>
                            <td>
                                <div class="action__btn__box">
                                    <button class="action__btn edit__btn"><a>Edit</a></button>
                                    <button class="action__btn delete__btn"><a>Delete</a></button>
                                </div>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </section>
    </div>
</section>