@model IEnumerable<CollectionViewModel>
@{
    Layout = "_adminLayout";
}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
        </div>

        <img src="../SiteImages/profile-pic.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Collections</span>
            </div>
        </div>

        <div class="col-md-8">
            @foreach (var item in Model)
            {
                var photo = "../images/" + (item.ImageUrl ?? "profile-pic.jpg");
                <div class="user-row">
                    <div class="user-avatar">
                        <img src="@photo" alt="User Avatar">
                    </div>
                    <div class="user-info">
                        <h3>@item.Name</h3>
                        <p>
                            @if (item.Description.Length > 100)
                            {
                                @item.Description.Substring(0, 100)
                            }
                            else
                            {
                                @item.Description
                            }
                            ...
                        </p>
                    </div>
                    <div class="delete-button">
                        <button>Delete</button>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
