@model CollectionPostModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../css/Pages.css" />
    <link rel="stylesheet" href="../css/Pages2.css"

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet"
          href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <title>User Dashboard Panel</title>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../SiteImages/logo.png" alt="" />
            </div>

            <span class="logo_name">Treasure Tracker</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a asp-controller="UserPage" asp-action="Dashboard">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="UserPage" asp-action="Collections">
                        <i class="uil uil-files-landscapes"></i>
                        <span class="link-name">My collection</span>
                    </a>
                </li>
                <li>
                    <a href="users.html">
                        <i class="uil uil-chart"></i>
                        <span class="link-name">Settings</span>
                    </a>
                </li>
            </ul>

            <ul class="logout-mode">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here..." />
            </div>

            <img src="images/profile.jpg" alt="" />
        </div>

        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Add Collection</span>
                </div>
            </div>
            <form asp-controller="UserPage" asp-action="AddCollection" method="post" enctype="multipart/form-data">
                <div class="form__box">
                    <div class="input__box">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" type="text" placeholder="Name" />
                        <span asp-validation-for="Name" class="validation"></span>
                    </div>
                    <div class="input__box">
                        <label asp-for="Description">Description</label>
                        <textarea asp-for="Description" type="text" placeholder="Provide information .."></textarea>
                        <span asp-validation-for="Description" class="validation"></span>
                    </div>
                    <div class="input__box">
                        <label asp-for="ImageUrl">Image</label>
                        <input asp-for="ImageUrl" type="file" placeholder="Image" />
                        <span asp-validation-for="ImageUrl" class="validation"></span>
                    </div>
                    <div class="input__box">
                        <label for="category">Category</label>
                        <select id="category" class="form-control">
                            <option value="">Select Category</option>
                        </select>
                        <span id="category-error" class="text-danger"></span>
                    </div>
                    <input type="hidden" id="categoryId" name="CategoryId" asp-for="CategoryId"/>

                    <div class="add__btn__box">
                        <button class="add__use__btn__box" type="submit">Add Collection</button>
                    </div>
                </div>
            </form>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/Page.js"></script>
</body>
</html>
