@model CollectionPostModel
@{
    Layout = "_userLayout";
}
<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here..." />
        </div>

        <img src="images/profile.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Add Collection</span>
            </div>
        </div>
        <form asp-controller="UserPage" asp-action="AddCollection" method="post" enctype="multipart/form-data">
            <div class="form__box">
                <div class="input__box">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" placeholder="Name" />
                    <span asp-validation-for="Name" class="validation"></span>
                </div>
                <div class="input__box">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" type="text" placeholder="Provide information .."></textarea>
                    <span asp-validation-for="Description" class="validation"></span>
                </div>
                <div class="input__box">
                    <label asp-for="ImageUrl">Image</label>
                    <input asp-for="ImageUrl" type="file" placeholder="Image" />
                    <span asp-validation-for="ImageUrl" class="validation"></span>
                </div>
                <div class="input__box">
                    <label for="category">Category</label>
                    <select id="category" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                    <span id="category-error" class="text-danger"></span>
                </div>
                <input type="hidden" id="categoryId" name="CategoryId" asp-for="CategoryId" />

                <div class="add__btn__box">
                    <button class="add__use__btn__box" type="submit">Add Collection</button>
                </div>
            </div>
        </form>

    </div>
</section>
